body
{
    font-size: 120%;
    font-family: serif;
    line-height: 1.3;

    a
    {
        color:#157cc0;
        text-decoration: none;
    }

    #content-area
    {
        max-width: 900px;
        margin: 0 auto;
        margin-top: 30px;

        #blog-title
        {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
        }

        ul.article-list
        {
            li
            {
                margin: 30px 0;

                h3
                {
                    font-size: 23px;
                    font-weight: bold;
                }
            }
        }
    }
}

li
{
    list-style-type: none;
}
